In [1]:
#import relevant libraries

import pandas as pd
salary_dataset = pd.read_csv(r"C:\Users\nickc\Downloads\Uncleaned_DS_jobs.csv")

In [2]:
#Check the dataframe
salary_dataset.head(5)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
#check data types
print(salary_dataset.dtypes)

index                  int64
Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

# Cleaning the data

##### 1) "Salary Estimate" needs to be converted to an integer
##### 2) We should extract State and City Separately from Location Column
##### 3) Company name should have number removed at the end
##### 4)  Replace "\n" with empty space to make Job Description Readable

# 1) Cleaning "Salary Estimate" Column Data

In [4]:
#Remove  (Glassdoor est.) from the end of Salary Estimate
salary_dataset['Salary Estimate'] = salary_dataset['Salary Estimate'].str.replace('\(Glassdoor est.\)', '', regex=True)

# Remove dollar sign
salary_dataset['Salary Estimate'] = salary_dataset['Salary Estimate'].str.replace('$', '')

# Split the range into two separate columns
temp_df = salary_dataset['Salary Estimate'].str.split('-', expand=True)

# Remove 'K' (case insensitive) from both columns, convert to numbers, then multiply by 1000 to reflect 'K' as thousands
# We used Case=False because we do not care if data has K or k, as both represent same value if its found in the column
# We used errors = 'coerce' because this will replace values that can't be converted to a number with NaN.
#This can be useful if we want to keep the rest of our transformations running even if some values can't be converted
salary_dataset['min_salary'] = pd.to_numeric(temp_df[0].str.replace('k', '', case=False).str.replace(' ', ''), errors='coerce') * 1000
salary_dataset['max_salary'] = pd.to_numeric(temp_df[1].str.replace('k', '', case=False).str.replace(' ', ''), errors='coerce') * 1000

In [5]:
salary_dataset.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,0,Sr Data Scientist,137K-171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000.0
1,1,Data Scientist,137K-171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000.0
2,2,Data Scientist,137K-171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000.0
3,3,Data Scientist,137K-171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000.0
4,4,Data Scientist,137K-171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000.0

In [6]:
# Let's count how many values are in our new columns

min_salary_count = salary_dataset['min_salary'].count()
max_salary_count = salary_dataset['max_salary'].count()

print(f"The 'min_salary' column has {min_salary_count} non-null values.")
print(f"The 'max_salary' column has {max_salary_count} non-null values.")

# Let's count how many NaN or Null values are in our new columns

min_salary_nan_count = salary_dataset['min_salary'].isnull().sum()
max_salary_nan_count = salary_dataset['max_salary'].isnull().sum()

print(f"The 'min_salary' column has {min_salary_nan_count} null values.")
print(f"The 'max_salary' column has {max_salary_nan_count} null values.")

The 'min_salary' column has 672 non-null values.
The 'max_salary' column has 652 non-null values.
The 'min_salary' column has 0 null values.
The 'max_salary' column has 20 null values.

# Let's explore why we have 20 null values in max_salary

In [7]:
# let's get rows where for max_salary we have Nulls
null_max_salary_rows = salary_dataset[salary_dataset['max_salary'].isnull()]
print(null_max_salary_rows)

     index                                          Job Title  \
303    303                                     Data Scientist
304    304                                     Data Scientist
305    305                                    Chief Scientist
306    306                                     Data Scientist
307    307                                     Data Scientist
308    308                                     Data Scientist
309    309                                     Data Scientist
310    310                                     Data Scientist
311    311                       Health Plan Data Analyst, Sr
312    312  Principal Scientist/Associate Director, Qualit...
313    313                                     Data Scientist
314    314                              Senior Data Scientist
315    315                                     Data Scientist
316    316                                     Data Scientist
317    317                                     Data Scientist
318    318        Analytics - Business Assurance Data Analyst
319    319                                     Data Scientist
320    320                                     Data Scientist
321    321                    Development Scientist, Voltaren
322    322                                     Data Scientist

              Salary Estimate  \
303  145K-225K(Employer est.)
304  145K-225K(Employer est.)
305  145K-225K(Employer est.)
306  145K-225K(Employer est.)
307  145K-225K(Employer est.)
308  145K-225K(Employer est.)
309  145K-225K(Employer est.)
310  145K-225K(Employer est.)
311  145K-225K(Employer est.)
312  145K-225K(Employer est.)
313  145K-225K(Employer est.)
314  145K-225K(Employer est.)
315  145K-225K(Employer est.)
316  145K-225K(Employer est.)
317  145K-225K(Employer est.)
318  145K-225K(Employer est.)
319  145K-225K(Employer est.)
320  145K-225K(Employer est.)
321  145K-225K(Employer est.)
322  145K-225K(Employer est.)

                                       Job Description  Rating  \
303  Role Description\nAs a data scientist at Tripl...     3.2
304  Kingfisher Systems, Inc. specializes in provid...     4.5
305  Why TrueAccord?\n\nDebt collection is failing ...     3.4
306  Long term. 6 months contract to hire. Open to ...     3.9
307  DATA SCIENTIST REMOTE working with occasional ...     3.2
308  Data Scientist\n\nRequirements\nMS or PhD in C...     5.0
309  ASRC Federal ExaTech is currently seeking:+ Te...     3.4
310  Job Description\nTitle: Data Scientist\nLocati...     4.4
311  Title: Health Plan Data Analyst, Sr\n\nCook Ch...     3.8
312  Rubius Therapeutics is a clinical-stage biopha...     3.8
313  Data Scientist\n\nJob Introduction\nFLEETCOR i...     3.5
314  About Us\n\nOn the off chance you've thought a...     3.8
315  Who we are\nCriteo (NASDAQ: CRTO) is the globa...     3.9
316  Job Description\nEssential Responsibilities:\n...     3.4
317  Role - Data Scientist\nLoccation - NYC, NY\nPo...     3.8
318  Analytics - Business Assurance Data Analyst (C...     4.6
319  Job Description\nSelecting features, building ...    -1.0
320  Hello Associates,\n\n*****Greetings from Conch...     4.6
321  Site Name: Richmond Sherwood\nPosted Date: Mar...     3.9
322  Job Description\nData Scientist\nAre you inter...    -1.0

                                Company Name           Location  \
303                          Triplebyte\n3.2        Chicago, IL
304                  Kingfisher Systems\n4.5         McLean, VA
305                          TrueAccord\n3.4             Remote
306                    ALTA IT Services\n3.9       Woodlawn, MD
307                      Kollasoft Inc.\n3.2      United States
308                      Kollasoft Inc.\n3.2       New York, NY
309        ASRC Federal Holding Company\n3.4         Reston, VA
310                    Adwait Algorithm\n4.4       New York, NY
311  Cook Children's Health Care System\n3.8     Fort Worth, TX
312                 Rubius Therapeutics\n3.8     Smithfield, RI
313                        Cambridge FX\n3.5        Atlanta, GA
314                           Metromile\n3.8  San Francisco, CA
315                              Criteo\n3.9      Ann Arbor, MI
316           Advance Sourcing Concepts\n3.4     Pittsburgh, PA
317            Enterprise Solutions Inc\n3.8       New York, NY
318     GreatAmerica Financial Services\n4.6   Cedar Rapids, IA
319                             Microagility       New York, NY
320             Conch Technologies, Inc\n4.6        Concord, CA
321                                 GSK\n3.9       Richmond, VA
322                 Rainmaker Resources, LLC     Cincinnati, OH

                  Headquarters                     Size  Founded  \
303          San Francisco, CA      51 to 200 employees     2015
304           Falls Church, VA      51 to 200 employees     2005
305          San Francisco, CA      51 to 200 employees     2013
306              Rockville, MD     201 to 500 employees     2004
307             Scottsdale, AZ        1 to 50 employees       -1
308                 Irving, TX                  Unknown       -1
309             Beltsville, MD  5001 to 10000 employees     2003
310                Houston, TX      51 to 200 employees     2015
311             Fort Worth, TX  5001 to 10000 employees     1918
312              Cambridge, MA     201 to 500 employees     2013
313            Toronto, Canada     201 to 500 employees     1992
314          San Francisco, CA     201 to 500 employees     2011
315              Paris, France   1001 to 5000 employees     2005
316             Pittsburgh, PA      51 to 200 employees       -1
317             Naperville, IL      51 to 200 employees     2000
318           Cedar Rapids, IA    501 to 1000 employees     1992
319              Princeton, NJ        1 to 50 employees       -1
320                Memphis, TN      51 to 200 employees       -1
321  Brentford, United Kingdom         10000+ employees     1830
322             Cincinnati, OH        1 to 50 employees       -1

          Type of ownership                                 Industry  \
303       Company - Private             Computer Hardware & Software
304       Company - Private                         Federal Agencies
305       Company - Private  Enterprise Software & Network Solutions
306       Company - Private                              IT Services
307       Company - Private                              IT Services
308        Company - Public                                       -1
309       Company - Private                      Aerospace & Defense
310       Company - Private                              IT Services
311  Nonprofit Organization         Health Care Services & Hospitals
312        Company - Public                Biotech & Pharmaceuticals
313        Company - Public         Financial Transaction Processing
314       Company - Private                       Insurance Carriers
315        Company - Public                                 Internet
316       Company - Private                                       -1
317       Company - Private                   Staffing & Outsourcing
318       Company - Private                                  Lending
319       Company - Private                               Consulting
320       Company - Private                               Consulting
321        Company - Public                Biotech & Pharmaceuticals
322       Company - Private                                       -1

                        Sector                           Revenue  \
303     Information Technology          Unknown / Non-Applicable
304                 Government          $25 to $50 million (USD)
305     Information Technology          Unknown / Non-Applicable
306     Information Technology          $10 to $25 million (USD)
307     Information Technology            $1 to $5 million (USD)
308                         -1          Unknown / Non-Applicable
309        Aerospace & Defense  $500 million to $1 billion (USD)
310     Information Technology          Unknown / Non-Applicable
311                Health Care        $100 to $500 million (USD)
312  Biotech & Pharmaceuticals        $100 to $500 million (USD)
313                    Finance        $100 to $500 million (USD)
314                  Insurance          Unknown / Non-Applicable
315     Information Technology            $2 to $5 billion (USD)
316                         -1            $1 to $5 million (USD)
317          Business Services          $25 to $50 million (USD)
318                    Finance        $100 to $500 million (USD)
319          Business Services            $1 to $5 million (USD)
320          Business Services           $5 to $10 million (USD)
321  Biotech & Pharmaceuticals                $10+ billion (USD)
322                         -1          Unknown / Non-Applicable

                                           Competitors  min_salary  max_salary
303                                                 -1      145000         NaN
304                                                 -1      145000         NaN
305                                                 -1      145000         NaN
306                                                 -1      145000         NaN
307                                                 -1      145000         NaN
308                                                 -1      145000         NaN
309                                                 -1      145000         NaN
310                                                 -1      145000         NaN
311  Children's Health, Texas Health Resources, Bay...      145000         NaN
312                                                 -1      145000         NaN
313                                                 -1      145000         NaN
314                                                 -1      145000         NaN
315                    MediaMath, Conversant, AppNexus      145000         NaN
316                                                 -1      145000         NaN
317                                                 -1      145000         NaN
318                                                 -1      145000         NaN
319                                                 -1      145000         NaN
320                                                 -1      145000         NaN
321                         Pfizer, AstraZeneca, Merck      145000         NaN
322                                                 -1      145000         NaN

In [8]:
# As you can see we also tend to have (Employer est.) as well as (Glassdoor est.) from previous operations.
#Now we need to fix this as well.

#Let's re-run whole process

# Remove "(Glassdoor est.)" and "(Employer est.)"
salary_dataset['Salary Estimate'] = salary_dataset['Salary Estimate'].str.replace('\(Glassdoor est.\)', '', regex=False)
salary_dataset['Salary Estimate'] = salary_dataset['Salary Estimate'].str.replace('\(Employer est.\)', '', regex=False)

# Remove dollar sign
salary_dataset['Salary Estimate'] = salary_dataset['Salary Estimate'].str.replace('$', '')


# Split the range into two separate columns
temp_df = salary_dataset['Salary Estimate'].str.split('-', expand=True)

# Remove 'K' (case insensitive) from both columns, convert to numbers, then multiply by 1000 to reflect 'K' as thousands
# We used Case=False because we do not care if data has K or k, as both represent same value if its found in the column
# We used errors = 'coerce' because this will replace values that can't be converted to a number with NaN.
#This can be useful if we want to keep the rest of our transformations running even if some values can't be converted
salary_dataset['min_salary'] = pd.to_numeric(temp_df[0].str.replace('k', '', case=False).str.replace(' ', ''), errors='coerce') * 1000
salary_dataset['max_salary'] = pd.to_numeric(temp_df[1].str.replace('k', '', case=False).str.replace(' ', ''), errors='coerce') * 1000

In [9]:
# Let's count how many values are in our new columns

min_salary_count = salary_dataset['min_salary'].count()
max_salary_count = salary_dataset['max_salary'].count()

print(f"The 'min_salary' column has {min_salary_count} non-null values.")
print(f"The 'max_salary' column has {max_salary_count} non-null values.")

# Let's count how many NaN or Null values are in our new columns

min_salary_nan_count = salary_dataset['min_salary'].isnull().sum()
max_salary_nan_count = salary_dataset['max_salary'].isnull().sum()

print(f"The 'min_salary' column has {min_salary_nan_count} null values.")
print(f"The 'max_salary' column has {max_salary_nan_count} null values.")

The 'min_salary' column has 672 non-null values.
The 'max_salary' column has 652 non-null values.
The 'min_salary' column has 0 null values.
The 'max_salary' column has 20 null values.

# As seen below, our temporary dataframe did not have null values
# So, It appears that the issue is arising during the conversion of the temp_df

In [10]:
min_salary_nan2_count2 = temp_df.isnull().count()
max_salary_nan2_count2 = temp_df.isnull().count()

print(min_salary_nan2_count2)

# It appears that the issue is arising during the conversion of the temp_df

0    672
1    672
dtype: int64

In [11]:
# Convert 'min_salary' column to numeric
salary_dataset['min_salary'] = pd.to_numeric(temp_df[0].str.extract(r'(\d+)', expand=False), errors='coerce')

# Convert 'max_salary' column to numeric
salary_dataset['max_salary'] = pd.to_numeric(temp_df[1].str.extract(r'(\d+)', expand=False), errors='coerce')

# Multiply by 1000 to reflect 'K' as thousands
salary_dataset['min_salary'] *= 1000
salary_dataset['max_salary'] *= 1000

In [12]:
salary_dataset

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,0,Sr Data Scientist,137K-171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000
1,1,Data Scientist,137K-171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000
2,2,Data Scientist,137K-171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000
3,3,Data Scientist,137K-171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000
4,4,Data Scientist,137K-171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105K-167K,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105000,167000
668,668,Data Scientist,105K-167K,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,105000,167000
669,669,Data Scientist,105K-167K,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,105000,167000
670,670,Data Scientist,105K-167K,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105000,167000
671,671,Data Scientist,105K-167K,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105000,167000

In [13]:
# Let's count how many values are in our new columns

min_salary_count = salary_dataset['min_salary'].count()
max_salary_count = salary_dataset['max_salary'].count()

print(f"The 'min_salary' column has {min_salary_count} non-null values.")
print(f"The 'max_salary' column has {max_salary_count} non-null values.")

# Let's count how many NaN or Null values are in our new columns

min_salary_nan_count = salary_dataset['min_salary'].isnull().sum()
max_salary_nan_count = salary_dataset['max_salary'].isnull().sum()

print(f"The 'min_salary' column has {min_salary_nan_count} null values.")
print(f"The 'max_salary' column has {max_salary_nan_count} null values.")

The 'min_salary' column has 672 non-null values.
The 'max_salary' column has 672 non-null values.
The 'min_salary' column has 0 null values.
The 'max_salary' column has 0 null values.

In [14]:
# This line will be adding average salary of minimum and maximum salary range
salary_dataset["Average Salary"] = (salary_dataset["min_salary"] + salary_dataset["max_salary"])/2
salary_dataset["Average Salary"] = salary_dataset["Average Salary"].astype(int)

# We have fixed our issue, now our Salary data is clean and correct
## Feature Engineering: We have finally derived 2 new columns (minimum and maximum salary) from our Salary Estimate range in correct format. Now Let's create Average of these 2 as a separate column

In [15]:
salary_dataset.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,Average Salary
0,0,Sr Data Scientist,137K-171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,154000
1,1,Data Scientist,137K-171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,154000
2,2,Data Scientist,137K-171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000
3,3,Data Scientist,137K-171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,154000
4,4,Data Scientist,137K-171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,154000

# 2) Splitting City and State for Job Location

In [16]:
# Split the column into two separate columns using the comma as the delimiter
new_cols = salary_dataset['Location'].str.split(', ', expand=True)

# Assign the new columns to the DataFrame
salary_dataset['Location_City'] = new_cols[0]
salary_dataset['Location_State'] = new_cols[1]

In [17]:
salary_dataset.head(25)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,Average Salary,Location_City,Location_State
0,0,Sr Data Scientist,137K-171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,154000,New York,NY
1,1,Data Scientist,137K-171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,154000,Chantilly,VA
2,2,Data Scientist,137K-171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000,Boston,MA
3,3,Data Scientist,137K-171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,154000,Newton,MA
4,4,Data Scientist,137K-171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,154000,New York,NY
5,5,Data Scientist,137K-171K,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,137000,171000,154000,Santa Barbara,CA
6,6,Data Scientist / Machine Learning Expert,137K-171K,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1,137000,171000,154000,Cambridge,MA
7,7,Data Scientist,137K-171K,Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1,137000,171000,154000,Bedford,MA
8,8,Staff Data Scientist - Analytics,137K-171K,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",137000,171000,154000,San Diego,CA
9,9,Data Scientist,137K-171K,Ready to write the best chapter of your career...,3.6,XSELL Technologies\n3.6,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,137000,171000,154000,Chicago,IL
10,10,Data Scientist,137K-171K,Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",137000,171000,154000,Herndon,VA
11,11,Data Scientist,137K-171K,About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,"Slalom, Daugherty Business Solutions",137000,171000,154000,Saint Louis,MO
12,12,"Data Scientist - Statistics, Early Career",137K-171K,*Organization and Job ID**\nJob ID: 310918\n\n...,3.7,PNNL\n3.7,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",137000,171000,154000,Richland,WA
13,13,Data Modeler,137K-171K,POSITION PURPOSE:\n\nThe Data Architect/Data M...,3.1,Old World Industries\n3.1,"Northbrook, IL","Northbrook, IL",201 to 500 employees,1973,Company - Private,Chemical Manufacturing,Manufacturing,$1 to $2 billion (USD),-1,137000,171000,154000,Northbrook,IL
14,14,Data Scientist,137K-171K,Position Description:\n\nWant to make a differ...,3.4,Mathematica Policy Research\n3.4,"Washington, DC","Princeton, NJ",1001 to 5000 employees,1986,Company - Private,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000,Washington,DC
15,15,Experienced Data Scientist,137K-171K,*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI)\n4.4,"Washington, DC","Mays Landing, NJ",1 to 50 employees,1997,Company - Private,Federal Agencies,Government,Unknown / Non-Applicable,-1,137000,171000,154000,Washington,DC
16,16,Data Scientist - Contract,137K-171K,"We are an ambitious, well-funded startup with ...",4.1,Upside Business Travel\n4.1,Remote,"Washington, DC",51 to 200 employees,2015,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,137000,171000,154000,Remote,None
17,17,Data Scientist,137K-171K,Job Success Profile\n\nData Scientist\n\nBuckm...,3.5,Buckman\n3.5,"Memphis, TN","Memphis, TN",1001 to 5000 employees,1945,Company - Private,Chemical Manufacturing,Manufacturing,$500 million to $1 billion (USD),-1,137000,171000,154000,Memphis,TN
18,18,Data Analyst II,137K-171K,The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.\n4.2","Plano, TX","Tempe, AZ",5001 to 10000 employees,1988,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 billion (USD),"CDW, PCM, SHI International",137000,171000,154000,Plano,TX
19,19,Medical Lab Scientist,137K-171K,Responsibilities\n\n\nThe Medical Laboratory S...,3.5,Tower Health\n3.5,"West Grove, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1,137000,171000,154000,West Grove,PA
20,20,Data Scientist,137K-171K,Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte\n3.2,"New York, NY","San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,137000,171000,154000,New York,NY
21,21,Data Scientist/Machine Learning,137K-171K,"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint\n4.3,"New York, NY","New York, NY",51 to 200 employees,2011,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Crossix Solutions Inc., AppNexus, The Trade Desk",137000,171000,154000,New York,NY
22,22,Human Factors Scientist,137K-171K,Human Factors Scientist\nID\n\n3336\n\nLocatio...,3.5,Exponent\n3.5,"Phoenix, AZ","Menlo Park, CA",1001 to 5000 employees,1967,Company - Public,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000,Phoenix,AZ
23,23,Business Intelligence Analyst I- Data Insights,137K-171K,Position Summary\n\nIndividuals within the\nBu...,3.5,Guardian Life\n3.5,"Appleton, WI","New York, NY",5001 to 10000 employees,1860,Company - Private,Insurance Carriers,Insurance,$5 to $10 billion (USD),Northwestern Mutual,137000,171000,154000,Appleton,WI
24,24,Data Scientist,137K-171K,What’s significantly better than working on a ...,3.4,Spectrum Communications and Consulting\n3.4,"Chicago, IL","Chicago, IL",51 to 200 employees,1992,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),-1,137000,171000,154000,Chicago,IL

# 3) Remove review number from Company Name

In [18]:
salary_dataset['Company Name'] = salary_dataset['Company Name'].str.replace(r'\s*\d+(\.\d+)?\s*$', '', regex=True)

In [19]:
salary_dataset.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,Average Salary,Location_City,Location_State
0,0,Sr Data Scientist,137K-171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,154000,New York,NY
1,1,Data Scientist,137K-171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,154000,Chantilly,VA
2,2,Data Scientist,137K-171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000,Boston,MA
3,3,Data Scientist,137K-171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,154000,Newton,MA
4,4,Data Scientist,137K-171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,154000,New York,NY

# 4) Replace "\n" with empty space to make Job Description Readable

In [20]:
salary_dataset['Job Description'] = salary_dataset['Job Description'].str.replace('\n', ' ')

In [21]:
salary_dataset

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,Average Salary,Location_City,Location_State
0,0,Sr Data Scientist,137K-171K,Description The Senior Data Scientist is resp...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,154000,New York,NY
1,1,Data Scientist,137K-171K,"Secure our Nation, Ignite your Future Join th...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,154000,Chantilly,VA
2,2,Data Scientist,137K-171K,Overview Analysis Group is one of the larges...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000,Boston,MA
3,3,Data Scientist,137K-171K,JOB DESCRIPTION: Do you have a passion for Da...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,154000,Newton,MA
4,4,Data Scientist,137K-171K,Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,154000,New York,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105K-167K,Summary We’re looking for a data scientist to...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105000,167000,136000,Fort Lee,NJ
668,668,Data Scientist,105K-167K,Job Description Become a thought leader within...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,105000,167000,136000,San Francisco,CA
669,669,Data Scientist,105K-167K,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,105000,167000,136000,Irwindale,CA
670,670,Data Scientist,105K-167K,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105000,167000,136000,San Francisco,CA
671,671,Data Scientist,105K-167K,Description The Data Scientist will be part o...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105000,167000,136000,New York,NY